*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App{
  /*background-image: linear-gradient(to top, #eaafc8, #e398c5, #d683c7, #c371cd, #a662d5, #955dd9, #8159de, #6756e3, #6756e3, #6756e3, #6756e3, #6756e3);*/
  background-image: linear-gradient(to top, #9d6eb2, #9968b9, #9263c0, #8a5ec8, #7f5ad0, #7756d5, #6e52da, #634fdf, #5d4ae1, #5744e3, #513ee4, #4a38e6);
}
.header{
  border:1px solid black;
  width:60%;
  margin:20px auto;
}
.container{
  border:1px solid red;
  margin:10px;
}
.home_image{
  border:1px solid black; 

}
.home_image img{
  height:40vh;
  width:100%;
  object-fit:cover;
}
.homepage_data{
  border:1px solid black;
  margin:10px 0px;
  height:40vh;
}
.username{
  margin:10px;
  border:1px solid yellow;
}